## Deliverable 2. Create a Customer Travel Destinations Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import sys 
sys.path.append ('../') 
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,saint-philippe,100,RE,light rain,82,-21.3585,55.7679,69.39,0.51,0.51,20.22
1,1,bani,50,DO,scattered clouds,79,18.2833,-70.3333,77.86,0.00,0.00,10.16
2,2,dingle,42,PH,scattered clouds,58,10.9995,122.6711,90.12,0.00,0.00,16.37
3,3,ushuaia,40,AR,scattered clouds,71,-54.8000,-68.3000,46.06,0.00,0.00,3.44
4,4,castro,30,BR,scattered clouds,74,-24.7911,-50.0119,33.55,0.00,0.00,9.53

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)          float64
Wind Speed             float64
dtype: object

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for you vacation?"))
max_temp = float(input("What is the maximum temperature you would like for you vacation?"))

What is the minimum temperature you would like for you vacation?60
What is the maximum temperature you would like for you vacation?200

In [5]:
rain_amount = input("Do you want it to be raining? (yes/no)")

Do you want it to be raining? (yes/no)no

In [6]:
snow_amount = input("Do you want it to be snowing? (yes/no)")

Do you want it to be snowing? (yes/no)no

In [7]:
if rain_amount =="no" and snow_amount =="no":
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) &
                                         (city_data_df["Max Temp"]>=min_temp) &
                                         (city_data_df["Rain (inches)"]==0) &
                                         (city_data_df["Snow (inches)"]==0)]
elif rain_amount =="no" and snow_amount =="yes":
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) &
                                         (city_data_df["Max Temp"]>=min_temp) &
                                         (city_data_df["Rain (inches)"]==0) &
                                         (city_data_df["Snow (inches)"]>0.0)]
elif rain_amount =="yes" and snow_amount =="no":
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) &
                                         (city_data_df["Max Temp"]>=min_temp) &
                                         (city_data_df["Rain (inches)"]>0.0) &
                                         (city_data_df["Snow (inches)"]==0)]
else:
    filtered_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) &
                                         (city_data_df["Max Temp"]>=min_temp) &
                                         (city_data_df["Rain (inches)"]>0.0) &
                                         (city_data_df["Snow (inches)"]>0.0)]

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
1,1,bani,50,DO,scattered clouds,79,18.2833,-70.3333,77.86,0.0,0.0,10.16
2,2,dingle,42,PH,scattered clouds,58,10.9995,122.6711,90.12,0.0,0.0,16.37
10,10,hermanus,98,ZA,overcast clouds,72,-34.4187,19.2345,60.80,0.0,0.0,23.00
13,13,kulhudhuffushi,100,MV,overcast clouds,74,6.6221,73.0700,82.56,0.0,0.0,12.64
14,14,kalemie,1,CD,clear sky,55,-5.9475,29.1947,67.59,0.0,0.0,2.42
...,...,...,...,...,...,...,...,...,...,...,...,...
577,577,thinadhoo,98,MV,overcast clouds,70,0.5333,72.9333,81.34,0.0,0.0,5.06
578,578,kargil,64,IN,broken clouds,47,34.5667,76.1000,65.50,0.0,0.0,3.00
579,579,corvallis,1,US,clear sky,36,44.5646,-123.2620,90.07,0.0,0.0,10.36
580,580,mokhsogollokh,8,RU,clear sky,28,61.4681,128.9203,70.66,0.0,0.0,10.74
581,581,wazirganj,100,IN,overcast clouds,66,28.2167,79.0500,87.03,0.0,0.0,4.56

In [9]:
# 4a. Determine if there are any empty rows.
filtered_cities_df.count()

City_ID                383
City                   383
Cloudiness             383
Country                383
Current Description    383
Humidity               383
Lat                    383
Lng                    383
Max Temp               383
Rain (inches)          383
Snow (inches)          383
Wind Speed             383
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=filtered_cities_df.dropna()

In [11]:
clean_df.count()

City_ID                383
City                   383
Cloudiness             383
Country                383
Current Description    383
Humidity               383
Lat                    383
Lng                    383
Max Temp               383
Rain (inches)          383
Snow (inches)          383
Wind Speed             383
dtype: int64

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,bani,DO,77.86,scattered clouds,18.2833,-70.3333,
2,dingle,PH,90.12,scattered clouds,10.9995,122.6711,
10,hermanus,ZA,60.80,overcast clouds,-34.4187,19.2345,
13,kulhudhuffushi,MV,82.56,overcast clouds,6.6221,73.0700,
14,kalemie,CD,67.59,clear sky,-5.9475,29.1947,
17,araouane,ML,91.96,few clouds,18.9048,-3.5265,
19,pisco,PE,61.02,mist,-13.7000,-76.2167,
25,busselton,AU,65.05,scattered clouds,-33.6500,115.3333,
26,faanui,PF,78.51,scattered clouds,-16.4833,-151.7500,
27,manggar,ID,84.52,overcast clouds,-2.8833,108.2667,

In [13]:
# 6. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": gkey
}

# Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]


    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,bani,DO,77.86,scattered clouds,18.2833,-70.3333,Hospedaje Henriquez
2,dingle,PH,90.12,scattered clouds,10.9995,122.6711,SEGAYA PROPERTY
10,hermanus,ZA,60.80,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
13,kulhudhuffushi,MV,82.56,overcast clouds,6.6221,73.0700,Hondaafushi Island Resort
14,kalemie,CD,67.59,clear sky,-5.9475,29.1947,Mahobilali
...,...,...,...,...,...,...,...
577,thinadhoo,MV,81.34,overcast clouds,0.5333,72.9333,
578,kargil,IN,65.50,broken clouds,34.5667,76.1000,Caravan Sarai
579,corvallis,US,90.07,clear sky,44.5646,-123.2620,Hilton Garden Inn Corvallis
580,mokhsogollokh,RU,70.66,clear sky,61.4681,128.9203,
581,wazirganj,IN,87.03,overcast clouds,28.2167,79.0500,Akashdeep Guest House

In [15]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   383
Country                383
Max Temp               383
Current Description    383
Lat                    383
Lng                    383
Hotel Name             383
dtype: int64

In [20]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
vacation_df=pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,bani,DO,77.86,scattered clouds,18.2833,-70.3333,Hospedaje Henriquez
1,2,dingle,PH,90.12,scattered clouds,10.9995,122.6711,SEGAYA PROPERTY
2,10,hermanus,ZA,60.80,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,13,kulhudhuffushi,MV,82.56,overcast clouds,6.6221,73.0700,Hondaafushi Island Resort
4,14,kalemie,CD,67.59,clear sky,-5.9475,29.1947,Mahobilali

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp}°F, {Current Description}</dd>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig=gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))